.campus {
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.gallery img {
    width: calc(25% - 10px); /* Adjust width to account for the gap */
    border-radius: 10px;
    margin-right: 10px; /* Add a gap between images */
}

.gallery img:last-child {
    margin-right: 0; /* Remove the margin from the last image */
}

.gallery button {
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 800px) {
    .gallery img {
        width: 48%;
        margin-bottom: 25px;
        margin-right: 0; /* Remove right margin for mobile view */
    }
}

@media (max-width: 640px) {
    .gallery img {
        width: 48%;
        margin-bottom: 25px;
        margin-right: 0; /* Remove right margin for mobile view */
    }
}
